<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Filter</key>
    <dict>
        <key>Bundles</key>
        <array>
            <string>com.yalla.lite</string>
            <string>com.yalla.live</string>
            <string>com.yalla.YallaLite</string>
            <string>com.yallalite</string>
            <string>com.yalla.app</string>
            <string>com.atheer.yallalite</string>
        </array>
        <key>Executables</key>
        <array>
            <string>YallaLite</string>
            <string>Yalla</string>
            <string>yallalite</string>
        </array>
    </dict>
</dict>
</plist>
