<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Filter</key>
    <dict>
        <key>Bundles</key>
        <array>
            <string>com.yalla.yallalite</string>
            <string>com.yalla.yallalite11</string>
            <string>com.yalla.yallalite22</string>
            <string>com.yalla.yallalite33</string>
            <string>com.yalla.yallalite44</string>
            <string>com.yalla.yallalite55</string>
            <string>com.yalla.yallalite66</string>
            <string>com.yalla.yallalite77</string>
            <string>com.yalla.yallalite88</string>
        </array>
    </dict>
</dict>
</plist>
